@import "tailwindcss";

/* scroll bar */
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: rgb(242, 242, 242);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
    border-radius: 3px;
}